---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Astro</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <h1>Sobre..</h1>
    <h2>Añadiendo otra pagina</h2>
    <p>Este sitio se actualizará a medida que complete más tutoriales, ¡así que sigue revisando y mira cómo va mi viaje!</p>
  </body>
</html>